name: Build
on:
  push:
    branches:
    - dev/*
    - feature/*
    - fix/*
    tags:
    - 'v[0-9]+.[0-9]+.[0-9]+'
    paths-ignore:
    - '**.md'
    - 'scripts/**'
  pull_request:
    branches:
    - main
    paths-ignore:
    - '**.md'
    - 'scripts/**'

jobs:
  test:
    uses: ./.github/workflows/test.yaml
